html, body {
    width: 100%;
    height: 100%;
    overflow: none;
    margin: 0;
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    flex-direction: row;
}

.colour {
    height: 100%;
    width: 100%;
}

.colour a {
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.is-light a {
    color: rgb(109, 109, 109);
}