@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;600;700&family=Oxygen:wght@300&family=Sen:wght@400;700&display=swap');

html {
    font-family: Lato;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Inheritance */

element {
    margin: 5px;
}

child element to inherit {
    margin: inherit;
}

/* Specificity */

element {
    font-weight: bold;
    color: red;
}

element to override {
    font-weight: 400;
    color: black;
}

/* Location - in lab1.html embedded css, .available & .unavailable is overridden */

.available {
    color: blue;
}

.unavailable {
    color: orange;
}

/* Positioning */

element2 {
    position: absolute;  /* Position Type Absolute */
}

.nav {
    position: static;
    overflow: hidden;
    background: #394a57;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav a:hover {
    background-color: #4a6274;
}

.nav-right {
    float: right;
}

/* Floating Elements */

element {
    float: left;
}

.class to clear {
    clear: left;
}

/* Table */


.tableContainer { /* Position Type Relative */
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

table {
    width: 60rem;
    border-collapse: collapse;
    align-self: center;
}

tr {
    background: #f0f0fa;
    border: 1px solid #717171;
}

tr:nth-of-type(even){
    background: #d5d5e0;
}

tr:hover {
    background: #c0c0db;
}

td, th {
    border: 1px solid #717171;
    padding: 10px;
}

.tableImage {
    width: 100px;
    height: 100px;
}

.tableAvailability {
    font-size: 20px;
    text-align: center;
}

.tablePrice {
    font-size: 20px;
    text-align: center;
}

.tablePrice ul {
    list-style-type: none;
}

.tablePrice ul li {
    text-align: left;
    font-size: 16px;
}

#tableLabel {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.content {
    padding: 100px;
}

/* Thumbnail */

figure img {
    text-align: center;
    width: 200px;
}

figcaption {
    text-align: center;
}

figcaption.popup {
    padding: 10px;
    background: #58586a;
    position: absolute;
    box-shadow: 0 0 5px #3939399b;
    border-radius: 10px;
    
    visibility: hidden;
}

figcaption.popup img {
    width: 500px;
}

figure.thumbnail:hover figcaption.popup {
    position: absolute;
    
    visibility: visible;
}

/* Form & Inputs */

form {
    background: #f0f0fa;
    padding: 20px;
    width: 400px;
    margin: auto;
    
    border-radius: 10px;
    box-shadow: 0 0 6px 2px #b7b7ba;
}

.boxInputs {
    border: 0;
    outline: 1px solid #797979;
    border-radius: .2rem;
    padding: .3rem;
    margin: 5px 0px;
}

.boxInputs:focus {
    outline: 2px solid #5c5c5c;
}

label {
    font-size: 18px;
    color: #454444;
}

input[type="radio"] {
    margin: 0px;
    width: 20px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

input[type="submit"] {
    padding: 5px 10px;
}